{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block content %}


    <form action="/new_password" method="post">
        {% csrf_token %}
        <h1>Password Generator</h1>
        <div class="pass">
            <input id="length" name="length" type="number" value="8" />
        </div>
        <label class="words">Lenght</label>
        <div class="pass">
            <input id="upper" name="upper" type="number" value="0" />
        </div>
        <label class="words">Upper Case</label>
        <div class="pass">
            <input id="special" name="special" type="number" value="0" />
        </div>
        <label class="words">Special</label>
        <div class="pass">
            <input id="submit" name="submit" type="submit" />
        </div>
        <div class="pass">
            <h1>{{password}}</h1>
        </div>

    </form>









{% endblock %}