{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block content %}


        <div>
            <h1>Password Generator</h1>

            <p>
                <input id="upper" name="upper" type="checkbox" />Uppercase

                <input id="lower" name="lower" type="checkbox" />Lowercase

                <input id="symbols" name="symbols" type="checkbox" />Symbols

                <input id="numbers" name="numbers" type="checkbox" />Numbers
                <h2 id="password_wording">Length of password</h2>
                <input id="length_password" type="number" step="1" min="8" max="16" value="8">

                <input id="submit" name="submit" type="submit" onclick="validate()" />

            </p>



            <h1 id="password_result"></h1>






        </div>
{% endblock %}