    <html>

      <head>
            <title>Life Of Reilly John</title>
            <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
            <link rel="stylesheet" href="CSS/mainstyle.css">
            <script src="Javascript/scripts.js"></script>
      </head>


      <body>
          <header>
              <h1 id="Menu" onclick="openNav()"><b>&#9776;</b></h1>
          </header>


          <div id="Sidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="#">Home</a>
              <a href="#Introduction">Introduction</a>
              <a href="#GitHub">GitHub</a>
              <a href="#Projects">Project Examples</a>
              <a href="#Contact-Info">Contact</a>
              <a href="Secret-Area.html">Secret Area</a>
          </div>


              <div id="Details">
                  <img src="Images/VikingHelmet.jpg" title="John" alt="John">
                  <h1 id="Name">John Reilly</h1>
                  <h2 id="Title">Aspiring Software Engineer</h2>
                  <h3 id="Twitter"><a href="https://twitter.com/LifeOfReillyJ/" rel="nofollow" target="_blank">@LifeOfReillyJ</a></h3>
                  <h3 id="Email"><a href="mailto:John@LifeOfReillyJohn.com">John@LifeOfReillyJohn.com</a></h3>
              </div>

          <section id="MainPage">
              <div id="Introduction">
                  <?php
                   echo "Hello World!";
                    ?>
                  <p>Currently an Instrument Engineer for a Multinational Oil & Gas service company.
                  I hold a MSc with distinction in Eletronic and Eletrical Engineering from Strathclyde University.</p>
                  <p>Looking to get into the Software Engineering field. I program mainly in Python but have some experience with MySQL, Java, HTML & CSS.
                      On the webpage you will find links to my Github, LinkedIn, Twitter Account</p>

                  <p>In case you are wondering the profile photo was taken on the Dublin Viking Splash Tour, hence the viking hat.</p>
                  <p><i>(not historically accurate, the viking never had horns on their helmets).</i></p>
              </div>


              <div id="GitHub">
                  <p>Click the Git Hub icon to go to my Repositry</p>
                  <a href="https://github.com/JohnReilly70"><img src="Images/github-mark.jpg" alt="github-mark"></a>
              </div>

              <div id="Projects">
                  <h1>Projects Examples</h1>
                  <section id="1stVideo">
                      <h2> UnicornHat Scrolling Text Display</h2>
                      <iframe width="420" height="315" src="https://youtube.com/embed/ztZR_FCrSu4"></iframe>
                  </section>


              </div>

              <div id="Contact-Info">
                  <a href="https://www.linkedin.com/in/john-reilly-96b80660"><img src="Images/LinkedIn.png"></a>
                  <a href="https://www.youtube.com/channel/UCb1QNLsQDqLIGE97rDQcsvg"><img src="Images/YouTube.jpg"></a>
                  <a href="https://twitter.com/LifeOfReillyJ/"><img src="Images/Twitter.png"></a>
              </div>
          </section>
      </body>

      <footer>
          <a href="#"><p>LifeofReillyJohn.com</p></a>

      </footer>

    </html>